html {
    width: 100%;
}

body {
    font-size: 100%;
    font-family: 'Montserrat';
    font-weight: 500;
    padding: 0;
    margin: 0;
    background-color: #f0f0ea;
}

input[type=radio] {
    display: none;
}

.bayan-block__title__icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 0.1rem solid #d0cdbe;
}

.bayan-block {
    margin: 0% 10%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.bayan-title {
    margin-left: 10%;
}

.bayan-block-title {
    font-size: 120%;
}

.bayan-label {
    cursor: pointer;
}

.meme-img {
    max-height: 0;
    flex-grow: 1;
    width: 100%;
    transition: max-height 1s ease;
}

input[type=radio]:checked + .bayan-block .meme-img {
    max-height: 100rem;
    margin-bottom: 7%;
}

input[type=radio]:not(:checked) + .bayan-block .meme-img {
    max-height: 0;
    transition: max-height 0s ease;
}

input[type=radio]:checked + .bayan-block .fa.fa-plus {
    transform: rotate(45deg);
    transition: 0.4s ease;
}

